.searchBar {
  display: flex;
  align-items: center;
  gap: 12px;
  width: 100%;
  margin-right: 20px;
}

.searchBar input {
  height: 50px;
  border: none;
  outline: none;
  border-radius: 40px;
  padding-left: 25px;
  color: #626262;
  background: #ebfffc;
  font-size: 18px;
  width: 100%;
}

.searchBar img {
  width: 50px;
  padding: 15px;
  border-radius: 50%;
  background: #ebfffc;
  cursor: pointer;
}
